* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono NF SemiBold', 'JetBrainsMono NFM', 'Symbols Nerd Font Mono';
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: #2E3440; /* Nord0 */
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 4px 8px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #3B4252; /* Nord1 */
  color: #ECEFF4;            /* Nord6 */
}

#workspaces button.active {
  color: #3B4252;            /* Nord1 */
  background-color: #ECEFF4; /* Nord6 */
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #3B4252;            /* Nord1 */
  background-color: #ECEFF4; /* Nord6 */
}

#workspaces button.urgent {
  background-color: #BF616A; /* Nord11 */
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 15px;
  margin: 3px;
  padding: 0px 8px;
  background-color: #3B4252; /* Nord1 */
  color: #2E3440;            /* Nord0 */
}

#custom-power {
  margin-right: 6px;
}

#memory {
  background-color: #D08770; /* Nord12 */
}

#battery {
  background-color: #BF616A; /* Nord11 */
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #BF616A; /* same as Nord11 */
  color: #EBCB8B;            /* Nord13 */
}

#battery.charging {
  background-color: #A3BE8C; /* Nord14 */
  color: #2E3440;            /* Nord0 */
}

#backlight {
  background-color: #D08770; /* Nord12 */
}

#pulseaudio {
  background-color: #EBCB8B; /* Nord13 */
}

#network {
  background-color: #8FBCBB; /* Nord7 */
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #B48EAD; /* Nord15 */
}

#custom-power {
  background-color: #D8DEE9; /* Nord4 */
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #2E3440; /* Nord0 */
}

tooltip label {
  padding: 5px;
  background-color: #2E3440; /* Nord0 */
}

